---
import { Image } from "astro:assets";

import Badge from "../components/Badge.astro";
import CV from "../components/CV.astro";
import ContactForm from "../components/ContactForm.astro";
import EducationCard from "../components/EducationCard.astro";
import ExperienceCard from "../components/ExperienceCard.astro";
import Projects from "../components/Projects.astro";
import Skills from "../components/Skills.astro";
import BaseLayout from "../layouts/BaseLayout.astro";

import CVIcon from "../components/icons/CVIcon.astro";
import ContactIcon from "../components/icons/ContactIcon.astro";
import EducationIcon from "../components/icons/EducationIcon.astro";
import ExperienceIcon from "../components/icons/ExperienceIcon.astro";
import ProjectsIcon from "../components/icons/ProjectsIcon.astro";
import SkillsIcon from "../components/icons/SkillsIcon.astro";

let iconSize: string = "32";
---

<BaseLayout includeSidebar={true}>
  <div class="page">
    <div class="title-page">Alex Quiroga </div>
    <div class="subtitle">Aerospace Technical Engineer</div>
    <div class="badges">
    <Badge>Studying</Badge> <Badge>Projects</Badge>
    </div>
    <div class="resume">
      <text>
        Aeronautical engineering <strong>master's student</strong> at the Technical University
        of Madrid. Have obtained <strong>code development experience</strong> in future technologies
        by mean of an internship and personal projects. Currently looking for further
        deepening in <strong>data science</strong> applied to <strong>control systems</strong>.
      </text>
    </div>

  </div>

  <div class="section" id="education">
    <div class="title">
      <EducationIcon size={iconSize}/>
      <h1> Education</h1> 
    </div>
    <EducationCard
      date="Today"
      title="Master’s degree in Aeronautical Engineering"
      institution="ETSIAE, Technical University of Madrid, Madrid (Spain)"
      description="Aircraft Specialization"
      >
      <Image slot="logo" format="webp" width={25} height={25} src="/logos/upm.png" alt="UPM" />
    </EducationCard>

    <EducationCard
      date="2023"
      title="Bachelor’s degree in Aerospace Engineering"
      institution="ETSIAE, Technical University of Madrid, Madrid (Spain)"
      description="Aerospace Sciences and Technologies"
      >
      <Image slot="logo" format="webp" width={25} height={25} src="/logos/upm.png" alt="UPM" />
    </EducationCard>
  </div>

  <div class="section" id="experience">
    <div class="title">
      <ExperienceIcon size={iconSize}/>
      <h1> Work Experience</h1> 
    </div>
    
    <ExperienceCard
      date="March 2021"
      title="Intership"
      company="SRM Consulting"
      description="Research on Machine Learning alternatives to conventional photogrammetry. Developed a desktop application with PySide for training and validation. Explored Docker for deployment and FastAPI for RESTful API."
    >
      <!-- <Image src="/profile.jpg" alt="SRM" /> -->
      <Image slot="logo" format="webp" width={25} height={25} src="/logos/srm.png" alt="Profile image" />
    </ExperienceCard>

  </div>

  <div class="section" id="projects">
    <div class="title">
      <ProjectsIcon size={iconSize}/>
      <h1>Projects </h1> 
    </div>
    <Projects />
  </div>

  <div class="section" id="skills">
    <div class="title">
      <SkillsIcon size={iconSize}/>
      <h1>Skills </h1> 
    </div>

    <Skills />
  </div>

  <div class="section" id="cv">
    <div class="title">
      <CVIcon size={iconSize}/>
      <h1>Curriculum Vitae </h1> 
    </div>
    <CV />

  </div>

  <div class="section" id="contact">
    <div class="title">
      <ContactIcon size={iconSize}/>
      <h1>Contact </h1> 
    </div>

    <ContactForm />
    
  </div>

</BaseLayout>

<style>

/* Title and resume */
.title-page {
  font-size: 35pt;
  font-weight: 600;
  display: flex;
  align-items: left;
  flex-direction: row;
}

.title {
  margin-bottom: 14px;
}

.badges {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

strong {
  color: var(--yellow-200);
  opacity: 0.92;
}

.subtitle {
  font-size: 20pt;
  font-weight: 400;
  margin-top: 10px;
  margin-bottom: 10px;
}

.resume {
  font-size: 16pt;
  font-weight: 400;
  margin-top: 20px;
}

/* Sections */

.section {
  margin-top: 20px;
}

#education, #experience, #projects, #skills, #cv, #contact {
  scroll-margin-top: 100px;
}

.section h1 {
  font-size: 25pt;
  font-weight: 600;
}

.section .title {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 20px;
}

/* For mobile devices */
/* @media only screen and (max-width: 800px) {
  .title-page {
    flex-direction: column;
    margin-left: 0%;
  } */
	
</style>