---
import { Image } from "astro:assets";
import { parseJsonSourceFileConfigFileContent } from "typescript";

const {post} = Astro.props;
---

<!-- targets: "_blank", "_self", "_parent" -->

<div class="project-card">
  <a href={post.url} target="_self"> 
    <div class="card-div">
      <img class="image" src={post.frontmatter.cover} alt="cover" height="200">
      <div class="text-div">
        <h1>
          {post.frontmatter.title}
        </h1>
        <p>{post.frontmatter.description}</p>
        <div class="actions">
        </div>
      </div>
    </div>
  </a>
</div>

<style>

* {
  text-decoration: none;
}

.project-card:hover{
  opacity: 0.95;
  transition: 0.3s;
  transform: scale(1.02);
  .image {
    border-color: var(--yellow-200);
  }
}

.card-div {
  color: white;
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

.image {
  width: 200px;
  object-fit: cover;
  height: auto;
  border-radius: 15px;
  margin-top: 0px;
  margin-bottom: 20px;
  margin-left: 0px;
  margin-right: 20px;
  border-style: solid;
  border-width: 2px;
}

.text-div {
  display: flex;
  flex-direction: column;
  margin-top: 0px;
}

.text-div h1 {
  font-size: 16pt;
  margin-bottom: 0px;
  color: var(--yellow-200);
}

.text-div p {
  font-size: 12pt;
  margin-bottom: 30px;
}

/* For mobile devices */
@media only screen and (max-width: 900px) {
  .card-div {
    flex-direction: column;
  }

  .image {
    width: 95%;
    height: auto;
    order: 2;
    margin-top: 0px;
  }

}
</style>
